header span,header ul .li3,header ul .li2
{
	display: none;
}
header ul li
{
	float: right;
	width: 40px;
	font-size: 15px;
	color: white;
	border-right-style: solid;
    border-right-width: 1px;
	border-right-color: #ccc;
	line-height: 46px;
}
header ul .li4
{
	width: 80px;
}
header ul .li1
{
	width: 80px;
}
nav
{
	height: 176px;
}
nav img
{
	margin: 20px auto;
}
nav ul li
{
	float: right;
	width: 120px;
	font-size: 20px;
	font-weight:600;
	color: #888873;
	padding-top: 40px;
}
nav ul .li1
{
	display: none;
}
.report
{
	height: 158px;
	width: 575px;
	line-height: 50px;
	display: table;
	text-align: center;
	background: #7c7365;
}
.report > span
{
	color: white;
	font-size: 20px;
	font-weight: 500;
	display: block;


}
.report .num{
	font-size: 22px;
	line-height: 42px;
	text-align: center;
	color: #ff9900;
	display: inline;
	width: 70px;
	height: 42px;
}
.report a{
	font-size:20px;
	color: white;
}

.report a:hover{
	color:#ff9900;
}
.pic
{
	height: 370px;
	background: skyblue;
}
.notice
{
	height: 490px;
}
.notice .safe,.notice .auth,.notice .free
{
	width: 400px;
	height: 120px;
	padding-left: 30px;
	margin-left: 50px;
	display: inline-block;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	margin-bottom: 20px;
	position: relative;
}
.notice .safe > span,.notice .auth > span,.notice .free >span
{
	font-size: 45px;
	font-weight: 1000;
	display: inline-block;
	padding-left: 25px;
	padding-top: 25px;
}
.notice .safe ul,.notice .auth ul,.notice .free ul
{
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	padding-top: 10px;
	padding-left: 50px;
	position: absolute;
	top:15px;
}
.notice .new .data
{
	display: none;
}
.notice .new
{
	width: 430px;
	height: 50px;
	margin-left: 50px;
	font-size: 18px;
	font-weight: 300;
	line-height: 50px;
}
.notice .new .new1
{
	padding-left: 10px;
}

.produce1,
.produce2
{
	height: 1424px;
	background: #f5f9fa;
	width: 554px;
	margin-left: 10px;
	position: relative;
	
}
.produce1 .fix,
.produce2 .fix
{
	width: 782px;	
	height: 156px;
	display: inline-block;
	position: relative;	
}

.produce1 .fix .fix_left,
.produce2 .fix .fix_left
{
	font-size: 32px;
	font-weight: 400;
	padding-left: 40px;
	position: absolute;
	top: 30px;
	left: 100px;
}
.produce1 .fix ul
{
	font-size: 20px;
	font-weight: 400;
	padding-left: 80px;
	text-align: center;
	padding-top: 100px;
}
.produce2 .fix ul
{
	font-size: 20px;
	font-weight: 400;
	padding-left: 140px;
	text-align: center;
	padding-top: 80px;
}
.produce1 .fix ul li,
.produce2 .fix ul li
{
	float: left;
	padding-left: 10px;

}
.produce1 .fix_month,
.produce2 .fix_month,
.produce1 .fix_month2,
.produce2 .fix_month2,
.produce1 .fix_month3,
.produce2 .fix_month3,
.produce1 .fix_month4,
.produce2 .fix_month4,
.produce1 .fix_month5,
.produce2 .fix_month5
{
	border: 2px solid #eee;
	border-top: none;
	border-right: none;
	display: inline-block;
	width: 527px;
	height: 246px;
	
}
.produce1 .fix_month .month,
.produce1 .fix_month .fix_money1,
.produce1 .fix_month .fix_money2,
.produce1 .fix_month2 .month,
.produce1 .fix_month2 .fix_money1,
.produce1 .fix_month2 .fix_money2,
.produce1 .fix_month3 .month,
.produce1 .fix_month3 .fix_money1,
.produce1 .fix_month3 .fix_money2,
.produce1 .fix_month4 .month,
.produce1 .fix_month4 .fix_money1,
.produce1 .fix_month4 .fix_money2,
.produce1 .fix_month5 .month,
.produce1 .fix_month5 .fix_money1,
.produce1 .fix_month5 .fix_money2,
.produce2 .fix_month .month,
.produce2 .fix_month .fix_money1,
.produce2 .fix_month .fix_money2,
.produce2 .fix_month2 .month,
.produce2 .fix_month2 .fix_money1,
.produce2 .fix_month2 .fix_money2,
.produce2 .fix_month3 .month,
.produce2 .fix_month3 .fix_money1,
.produce2 .fix_month3 .fix_money2,
.produce2 .fix_month4 .month,
.produce2 .fix_month4 .fix_money1,
.produce2 .fix_month4 .fix_money2,
.produce2 .fix_month5 .month,
.produce2 .fix_month5 .fix_money1,
.produce2 .fix_month5 .fix_money2
{
	width: 175px;
	height: 123px;
	background-color: white;
	float: left;
	text-align: center;
	font-size: 15px;
	overflow: hidden;
	
}

.produce1 .fix_month .month,
.produce1 .fix_month2 .month,
.produce1 .fix_month3 .month,
.produce1 .fix_month4 .month,
.produce1 .fix_month5 .month,
.produce2 .fix_month .month,
.produce2 .fix_month2 .month,
.produce2 .fix_month3 .month,
.produce2 .fix_month4 .month,
.produce2 .fix_month5 .month
{
	line-height: 85px;
}

.produce1 .fix_month .month .num1,.num2,.num4,
.produce1 .fix_month2 .month .num1,.num2,.num4,
.produce1 .fix_month3 .month .num1,.num2,.num4,
.produce1 .fix_month4 .month .num1,.num2,.num4,
.produce1 .fix_month5 .month .num1,.num2,.num4,
.produce2 .fix_month .month .num1,.num2,.num4,
.produce2 .fix_month2 .month .num1,.num2,.num4,
.produce2 .fix_month3 .month .num1,.num2,.num4,
.produce2 .fix_month4 .month .num1,.num2,.num4,
.produce2 .fix_month5 .month .num1,.num2,.num4
{
	font-size: 30px;
	font-family: "黑体";
}

.produce1 .fix_money1,
.produce2 .fix_money1
{
	position: relative;

}

.produce1 .fix_money2,
.produce2 .fix_money2
{
	border-right: 2px solid #eee;
}

.produce1 .fix_month .buy,
.produce1 .fix_month2 .buy,
.produce1 .fix_month3 .buy,
.produce1 .fix_month4 .buy,
.produce1 .fix_month5 .buy,
.produce2 .fix_month .buy,
.produce2 .fix_month2 .buy,
.produce2 .fix_month3 .buy,
.produce2 .fix_month4 .buy,
.produce2 .fix_month5 .buy
{
	display: inline-block;
	width: 525px;
	height: 123px;
	background-color:white;
	border-right: 2px solid #eee;
	text-align: center;
	line-height: 123px;
}

.produce1 .fix_month .buy > a,
.produce1 .fix_month2 .buy > a,
.produce1 .fix_month3 .buy > a,
.produce1 .fix_month4 .buy > a,
.produce1 .fix_month5 .buy > a,
.produce2 .fix_month .buy > a,
.produce2 .fix_month2 .buy > a

{
	font-size: 22px;
	color: white;
	display:inline-block;
	width: 392px;
	height: 61px;
	background-color: #ff9900;
	border-radius: 5px;
	line-height: 61px;
	font-weight: 300;
}
.produce2 .fix_month3 .buy > a,
.produce2 .fix_month4 .buy > a,
.produce2 .fix_month5 .buy > a
{
	font-size: 22px;
	color: white;
	display:inline-block;
	width: 392px;
	height: 61px;
	background-color: #8b999d;
	border-radius: 5px;
	line-height: 61px;
	font-weight: 300;
}
.produce1 .fix_month2 .fix_money1 li,
.produce1 .fix_month2 .fix_money2 li,
.produce1 .fix_month3 .fix_money1 li,
.produce1 .fix_month3 .fix_money2 li,
.produce1 .fix_month4 .fix_money1 li,
.produce1 .fix_month4 .fix_money2 li,
.produce1 .fix_month5 .fix_money1 li,
.produce1 .fix_month5 .fix_money2 li,
.produce2 .fix_month .fix_money1 li,
.produce2 .fix_month .fix_money2 li,
.produce2 .fix_month2 .fix_money1 li,
.produce2 .fix_month2 .fix_money2 li,
.produce2 .fix_month3 .fix_money1 li,
.produce2 .fix_month3 .fix_money2 li,
.produce2 .fix_month4 .fix_money1 li,
.produce2 .fix_month4 .fix_money2 li,
.produce2 .fix_month5 .fix_money1 li,
.produce2 .fix_month5 .fix_money2 li
{
	padding-top: 25px;
}
.produce1 .fix_month .fix_money1 li,
.produce1 .fix_month .fix_money2 li
{
	padding-top: 20px;
}

.produce2 .fix_month .month li,
.produce2 .fix_month2 .month li,
.produce2 .fix_month3 .month li,
.produce2 .fix_month4 .month li,
.produce2 .fix_month5 .month li
{
	height: 30px;
	list-style: none;
}
.produce2 .fix_month .low,
.produce2 .fix_month2 .low,
.produce2 .fix_month3 .low,
.produce2 .fix_month4 .low,
.produce2 .fix_month5 .low
{
	font-size: 13px;
}
footer
{
	height: 240px;
}
footer img
{
	display: none;
}
footer ul
{
	display: inline-block;
	float: left;
	padding-left: 18px;
	padding-top: 50px;
}
.copr
{
	height: 280px;
}
.copr ul li
{
	background: url("../img/cert1.png") no-repeat;
}
.copr ul
{
	position: relative;
}
.copr ul .position1
{
	width: 80px;
	height:52px;
	background-position:-735px -91px;
	display: inline-block;
	position: absolute;
	left:30px;
	top: 50px;
}
.copr ul .position2
{
	width: 158px;
	height:56px;
	background-position:-220px -191px;
	display: inline-block;
	position: absolute;
	left: 130px;
	top: 50px;
}
.copr ul .position3
{
	width: 76px;
	height:54px;
	background-position:-852px -179px;
	display: inline-block;
	position: absolute;
	left: 308px;
	top: 50px;
}
.copr ul .position4
{
	width: 128px;
	height:51px;
	background-position:-800px -372px;
	display: inline-block;
	position: absolute;
	left: 404px;
	top: 50px;
}
.copr ul .position5
{
	width: 46px;
	height:61px;
	background-position:-94px -91px;
	display: inline-block;
	position: absolute;
	left: 552px;
	top: 50px;
}
.copr ul .position6
{
	width: 149px;
	height:51px;
	background-position:0px -642px;
	display: inline-block;
	position: absolute;
	left: 158px;
	top: 130px;
}
.copr ul .position7
{
	width: 34px;
	height:35px;
	background-position:-202px -71px;
	display: inline-block;
	position: absolute;
	left:350px;
	top: 130px;
}
.copr span
{
	padding-left:140px;
	padding-top:220px;
	display: inline-block;
	color: #7f7c7c;
	font-size: 15px;

}

#pic
{
	height: 520px;
	background: #e91e63;
}